<%-include('./include/head') %>
    <%-include('./include/navBar') %>

        <link rel="stylesheet" type="text/css" href="./css/style404.css">
        <div class="text-center404">
            <h1>ERRO 404</h1>
            <p class="text-center404-2">está página não existe</p>
        </div>
        <%-include('./include/barraLateral')%>

            <%-include('./include/footer') %>