<%- include('./include/head');%>

    <section class="container">

        <h1>
            <%= titulo %>
        </h1>

        <form method="POST" action="/">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="text" placeholder="ola">
            <button class="btn" type="submit">submit</button>
        </form>
    </section>


    <%- include('./include/footer');%>