<%-include('./include/head')%>
    <link rel="stylesheet" type="text/css" href="./css/styleLogado.css">

    <%-include('./include/navBar')%>
        <section>
            <h1 class="text-center ">Ola nome do usuario bem vindo
            </h1>
            <%-include('./include/barraLateral')%>


        </section>

        <%-include('./include/footer')%>