<%-include('./include/head')%>
    <link rel="stylesheet" type="text/css" href="./css/styleRelatorio.css">

    <section>
        <%-include('./include/navBar')%>
            <h1 class="text-center "> Busca de unidade
            </h1>
            <div>
                <form class="form-busca">
                    <label for="data-inicial">data inicial</label>
                    <input type="date" name="busca" id="data-inicial">
                    <label for="data-final">data final</label>
                    <input type="date" name="busca" id="data-final">
                    <button class="button" type="submit"><img class="img-button" src="./include/img/pesquisa.svg"></button>
                </form>
            </div>
            <div class="traco"></div>
            <div class="response">
                <table class="tabela">
                    <caption>relatorio geral</caption>

                    <thead>
                        <tr>
                            <th colspan="5">Relatorio de manutenção</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Setor</td>
                            <td>formatação</td>
                            <td>pontos de rede</td>
                            <td>reparos/configuração</td>
                            <td>visitas/reparos/configuração</td>

                        </tr>
                        <tr>
                            <td>unidade</td>
                            <td>4</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>total</td>
                            <td>4</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                        </tr>


                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">Total de serviços:</td>
                            <td colspan="3">26</td>

                        </tr>
                    </tfoot>
                </table>

                <div class="data-footer">
                    <p>data inicial: data </p>
                    <p>data final: data</p>
                </div>
            </div>

            <%-include('./include/barraLateral')%>

    </section>

    <%-include('./include/footer')%>