:root {
    --light-gray: #EEEEEE;
    --azul: rgb(0, 0, 170);
}

.text-center {
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 30px;
}

.traco-busca {
    border: 1px solid;
    width: 85%;
    position: absolute;
    margin-left: 170px;
    margin-top: 85px;
    font-family: sans-serif;
    font-size: 30px;
    opacity: 0.3;
}

.form-busca {
    position: absolute;
    margin-left: 70%;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 30px;
}

.form-busca input {
    font-family: sans-serif;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    margin-right: 0px;
    margin-top: 5px;
}

.form-busca input:focus {
    box-shadow: 0 0 0.5em green;
    transition: all 300ms ease-in-out;
}

.resultado {
    position: absolute;
    margin-left: 80%;
    margin-top: 90px;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    flex: 1 1 320px;
    margin: 10px;
}

.resultado p {
    margin-right: 20px;
    border-right: 1px solid black;
    padding-right: 5px;
}

.box {
    width: 100%;
    display: flex;
}

.ajust {
    margin-left: 20%;
    z-index: 2;
    position: absolute;
    padding: 0px;
    margin-top: 5%;
    width: 70%;
}

.resultado:nth-child(4) {
    grid-column: span 2;
}

.img-button {
    width: 30px;
    height: 30px;
}

.button {
    width: 60px;
    height: 45px;
    background-color: green;
    padding: 0px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    margin-left: 90%;
    transition: all 300ms ease-in-out;
    margin-top: -45px;
}

.edit {
    width: 45px;
    height: 40px;
    background-color: green;
    padding: 0px;
    border-radius: 5px;
    border: none;
    margin-left: 2%;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
}

.cadastra {
    width: 45px;
    height: 40px;
    background-color: var(--azul);
    padding-right: 1px;
    border-radius: 5px;
    border: none;
    margin-left: 2%;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
}

.listagem {
    width: 45px;
    height: 40px;
    background-color: green;
    padding: 0px;
    border-radius: 5px;
    border: none;
    margin-left: 2%;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
}

.adicionar {
    width: 500px;
    height: 60px;
    font-size: 30px;
    font-family: sans-serif;
    background-color: var(--azul);
    padding: 0px;
    border-radius: 5px;
    border: none;
    transition: all 300ms ease-in-out;
    margin-left: 20%;
    margin-top: 20%;
    color: white;
    z-index: 2;
}

.adicionar a {
    color: white;
    text-decoration: none;
}

.button-img {
    width: 30px;
    height: 30px;
    padding: 0px;
}

.adicionar:hover,
.cadastra:hover {
    background-color: blue;
    transition: all 300ms ease-in-out;
}

.edit:hover,
.button:hover,
.listagem:hover {
    background-color: rgb(0, 170, 0);
    transition: all 300ms ease-in-out;
}

.pag-impressao {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: space-around;
}

.impressao {
    background-color: white;
    border: none;
    box-shadow: 0 0 0.5em black;
    display: none;
    margin: 30px 0px 0px 15%;
    width: 80%;
    height: 95%;
    background-color: white;
    padding-top: 0px;
    align-items: center;
    position: absolute;
    transition: all 300ms ease-in-out;
}

.close {
    margin-left: 95%;
    line-height: 5px;
    font-size: 40px;
    cursor: pointer;
    opacity: 0.3;
    z-index: 2;
    position: absolute;
}

.close-cadastro {
    display: none;
}

.close-cadastro:checked~.impressao {
    display: block;
    z-index: 2;
    transition: all 300ms ease-in-out;
}

.informacao {
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.reponsavel p {
    margin-top: 2%;
    margin-bottom: 5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    width: 80%;
}

.fundo {
    background-color: #F0F2F5;
}

.titulo {
    font-family: sans-serif;
}

.traco {
    width: 90%;
    margin: 0px 5% 10px 5%;
    border: 1px solid;
    opacity: 0.3;
}

.img-div {
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
}

.img-div p {
    margin-left: 2%;
    font-family: sans-serif;
    font-size: 20px;
}

.img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}

.button-imprimir {
    background-color: var(--azul);
    color: white;
    width: 500px;
    height: 50px;
    border: none;
    margin: 0px;
    border-radius: 5px;
    font-size: 20px;
}

.button-imprimir:hover {
    background-color: blue;
    transition: all 300ms ease-in-out;
}

.form-group {
    flex: 1 1 300px;
}

.form-espaco {
    width: 100%;
    background-color: white;
}

.form-group textarea {
    font-family: sans-serif;
    border: none;
    padding: 5px 10px;
    width: 98%;
    outline: none;
    margin-left: 2%;
    background-color: #F0F2F5;
}

@media print {
    .cadastra,
    .edit,
    .adicionar,
    .resultado,
    .text-center,
    .traco-busca,
    .button,
    .form-busca,
    .close-cadastro,
    .close,
    .button-imprimir {
        width: 0;
        height: 0;
        display: none;
    }
    .pag-impressao {
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1px;
        justify-content: space-around;
    }
    .impressao {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        border: none;
        align-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: none;
    }
    .form-group {
        flex: 1 1 200px;
        margin: 2px;
    }
    .informacao {
        width: 100%;
        padding: 5%;
        font-family: sans-serif;
        font-size: 20px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
}