<link rel="stylesheet" type="text/css" href="./css/styleBarra.css">
<div class="barra-lateral">
    <div class="logo">
        <img title="computador" class="logoImg" src="./img/computador.svg">
        <ul class="lista">
            <li class="menu"><a href="/cadastrocomputador">Cadastro</a></li>
            <li class="menu"><a href="/buscacomputador">Busca</a></li>
        </ul>
    </div>
    <div class="logo">
        <img title="unidade" class="logoImg" src="./img/file.png">
        <ul class="lista">

            <li class="menu"><a href="/cadastrounidade">Cadastro</a></li>


            <li class="menu"><a href="/buscaunidade">Busca</a></li>

        </ul>
    </div>
    <div class="logo">
        <img title="relatorio" class="logoImg" src="./img/grafico.svg">
        <ul class="lista">
            <li class="menu"><a href="/relatorio">Relatório</a></li>
        </ul>
    </div>
</div>