<link rel="stylesheet" type="text/css" href="./css/styleBarra.css">


<div class="barra-lateral">
    <div class="logo">
        <img title="computador" class="logoImg" src="./img/computador.svg">
        <ul class="lista">
            <li><a href="/cadastrocomputador">Cadastro</a></li>
            <li><a href="/buscacomputador">Busca</a></li>
        </ul>
    </div>
    <div class="logo">
        <img title="unidade" class="logoImg" src="./img/file.png">
        <ul class="lista">
            <li><a href="/cadastrounidade">Cadastro</a></li>
            <li><a href="/buscaunidade">Listagem</a></li>
        </ul>
    </div>
    <div class="logo">
        <img title="serviço" class="logoImg" src="./img/servico.png">
        <ul class="lista">
            <li><a href="/">Cadastro</a></li>
            <li><a href="/">Listagem</a></li>
        </ul>
    </div>
    <div class="logo">
        <img title="relatorio" class="logoImg" src="./img/grafico.svg">
        <ul class="lista">
            <li><a href="/">Relatório</a></li>
        </ul>
    </div>
</div>