<!DOCTYPE ejs>
<html lang="pt-BR" standardized-themed-scrollbar>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./img/iconLogo.png" type="img/png" rel="icon">
    <title>controlador de saida</title>
</head>
<link rel="stylesheet" type="text/css" href="./css/bobyStyle.css">

<body style="background-color: #F0F2F5; margin: 0px;">