<style>
    .navBar {
    width: 100%;
    max-width: 200%;
    height: 60px;
    background-color: green;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin-left: 200px;
    position: absolute;
    z-index: 1;
}

.imgNav {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.nav-link {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    line-height: 15px;
    font-size: 20px;
}

.nav-link:hover {
    color: aliceblue;
}

@media(min-width:300px) and (max-width:699px) {
    .navBar {
        width: 300%;
    }
}

@media(min-width:800px) and (max-width:899px) {
    .navBar {
        width: 110%;
    }
}

@media print {
    .navBar {
        display: none;
    }
}
</style>

<section>
    <div class="navBar">
        <a href="/logado"><img class="imgNav" src="./img/iconLogo.png"></a>
        <div>
            <%if(user){%>
                <a class="nav-link" href="/logout">Sair</a>
                <%}else{%>
                    <a class="nav-link" href="/">Entrar</a>
                    <%}%>
        </div>
    </div>

</section>