<link rel="stylesheet" type="text/css" href="./css/navBarStyle.css">

<section>
    <div class="navBar">
        <a href="/logado"><img class="imgNav" src="./img/iconLogo.png"></a>
        <div>
            <a class="nav-link" href="/">Sair</a>
        </div>
    </div>

</section>