<link rel="stylesheet" type="text/css" href="./css/navBarStyle.css">

<section>
    <div class="navBar">
        <a href="/logado"><img class="imgNav" src="./img/iconLogo.png"></a>
        <div>
            <%if(user){%>
                <a class="nav-link" href="/logout">Sair</a>
                <%}else{%>
                    <a class="nav-link" href="/">Entrar</a>
                    <%}%>
        </div>
    </div>

</section>